html,
body,
.form-control {
  background: #ececec !important;
}
.App {
  font-family: sans-serif;
  text-align: center;
}

.header h1 {
  text-align: center;
  font-family: "Ubuntu Condensed", sans-serif;
  color: #2b2b2b;
  width: 16%;
  margin: auto;
  margin-bottom: 8px;
}

.modal-container {
  padding: 10px;
  margin-top: 2em;
  margin-bottom: 2em;
  text-align: center;
  background-size: cover;
  background-position: bottom;
}

.searchField {
  width: 25%;
  margin: auto;
  display: flex;
  position: relative;
  margin-bottom: 1em;
}

span.searchIcon {
  position: absolute;
  right: 4%;
  top: 15%;
  color: gray;
}

.addBtn {
  width: 25%;
  margin: auto;
  display: flex;
  justify-content: space-evenly;
}

tr.tablerowbg {
  background: #faffd2;
}

i#view {
  color: #ff00ea !important;
  margin-left: 5px;
  margin-right: 5px;
}

i#edit {
  color: #0075ac;
  margin-left: 5px;
  margin-right: 5px;
}

i#delete {
  color: #000000;
  margin-left: 5px;
  margin-right: 5px;
}

.editFormBtn,
.addUserBtn {
  display: flex;
  justify-content: space-between;
}

.table-container {
  border-top: 1px solid #bfbfbf;
  padding-top: 1em;
}

/* Mobile Responsive */

@media (max-width: 768px) {
  .header h1,
  .searchField,
  .addBtn {
    width: 100%;
  }
}

/* Center the loader */
#loader {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 1;
  width: 120px;
  height: 120px;
  margin: -76px 0 0 -76px;
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #343a40;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* Add animation to "page content" */
.animate-bottom {
  position: relative;
  -webkit-animation-name: animatebottom;
  -webkit-animation-duration: 1s;
  animation-name: animatebottom;
  animation-duration: 1s;
}

@-webkit-keyframes animatebottom {
  from {
    bottom: -100px;
    opacity: 0;
  }
  to {
    bottom: 0px;
    opacity: 1;
  }
}

@keyframes animatebottom {
  from {
    bottom: -100px;
    opacity: 0;
  }
  to {
    bottom: 0;
    opacity: 1;
  }
}

#primary-app__container {
  display: none;
  text-align: center;
}
